name: Tests

on:
  push:
    branches: [main]
  pull_request:
  schedule:
    - cron: '5 1 * * *'  # every day at 01:05
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  tests:
    timeout-minutes: 45
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        pyv: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.pyv }}
        allow-prereleases: true

    - uses: astral-sh/setup-uv@v6
      with:
        enable-cache: true
        cache-dependency-glob: pyproject.toml

    - name: install
      run: uv pip install -e ".[dev]" "dvc[testing] @ git+https://github.com/iterative/dvc" --system

    - name: lint
      timeout-minutes: 10
      uses: pre-commit/action@v3.0.1

    - name: run tests
      timeout-minutes: 15
      run: pytest -v -n=auto --cov-report=xml --cov-report=term

    - name: upload coverage report
      uses: codecov/codecov-action@v5

  check:
    if: always()
    needs: [tests]
    runs-on: ubuntu-latest
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
