name: Tests

on:
  push:
    branches: [main]
  pull_request:
  schedule:
    - cron: '5 1 * * *'  # every day at 01:05
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  tests:
    timeout-minutes: 45
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-latest, macos-latest]
        pyv: ["3.9", "3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.pyv }}
        cache: 'pip'
        cache-dependency-path: pyproject.toml

    - name: install
      run: |
        pip install --upgrade pip wheel
        pip install -e ".[dev]"
        pip install "dvc[testing] @ git+https://github.com/iterative/dvc"

    - name: lint
      timeout-minutes: 10
      uses: pre-commit/action@v3.0.1

    - name: run tests
      timeout-minutes: 15
      run: pytest -v -n=auto --cov-report=xml --cov-report=term

    - name: upload coverage report
      uses: codecov/codecov-action@v4
      with:
        file: ./coverage.xml
        fail_ci_if_error: false
